body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "system-ui";
  background-color: aliceblue;
}
.nav2 {
  height: 50px;
  width: 100%;
  background: rgb(45, 55, 114);
  position: relative;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.nav2 > .nav-header {
  display: inline;
}
.nav2 > .nav-header > .nav-title {
  cursor: pointer;
  float: left;
}

.nav2 > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}
.button_nav {
  padding: 17px;
  /* margin-left: auto; */
  background: rgb(73, 13, 130);

  color: white;
  font-weight: 700;

  border: none;
}

.nav2 > .nav-btn {
  display: none;
}

.nav2 > .nav-links {
  display: inline;
  cursor: pointer;

  font-size: 18px;
}

.nav2 > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav2 > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav2 > #nav-check {
  display: none;
}

@media (max-width: 900px) {
  .nav2 > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;

    top: 0px;
  }
  .nav2 > .nav-btn > label {
    display: inline-block;
    width: 50px;

    padding: 13px;
  }

  .nav2 > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav2 > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background: rgb(45, 55, 114);
    height: 0px;
    z-index: 6;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav2 > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav2 > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav2 > #nav-check:checked ~ .nav-links {
    height: calc(50vh - 50px);
    overflow-y: auto;
  }
  .nav2 > .nav-links > .button_nav {
    float: left;
    background-color: darkgray;
    border-radius: 20%;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.movie {
  width: 250px;
  background: rgb(45, 55, 114);
  overflow: hidden;
  justify-content: space-around;
  border-radius: 3px;
  box-shadow: whitesmoke;
  position: relative;
  margin: 1rem;
}
.movie img {
  width: 250px;

  height: 210px;
}
.movie-info {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 1rem;

  align-items: center;
}
.movie-info h3 {
  margin: 0;
}
.movie-info span {
  font-weight: 700;
  padding: 5px;
  background: rgb(16, 21, 55);
}

.movie-overview {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  right: 0;
  background: rgb(45, 55, 114);
  font-weight: 600;
  line-height: 2;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
  overflow: auto;
  height: 100%;
}
.movie:hover .movie-overview {
  transform: translateY(0%);
}
.h2 {
  margin: 10px;
  text-align: center;
  color: white;
}
.overview-flex {
  display: flex;
  justify-content: space-between;
}
.search-bar::placeholder {
  color: black;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #001529;
}
::-webkit-scrollbar-thumb {
  background: #e9e9e9;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 100%;

  background: #f1f1f1;
}

form.example {
  display: flex;

  box-shadow: 2px 2px 15px 0 rgb(45, 55, 114);
}
/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(45, 55, 114);
  border: none;
  color: white;
  font-size: 17px;

  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.btn {
  font-size: 18px;
  padding: 14px;
  background: rgb(16, 21, 55);
  color: white;
  border: none;
  float: right;
  font-weight: bold;
}
.btn2 {
  padding: 12px;
  background: rgb(16, 21, 55);
  color: white;
  border: none;
  font-weight: bold;
}
