body {
  background-image: radial-gradient(
      circle at 85% 1%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 96%,
      transparent 96%,
      transparent 100%
    ),
    radial-gradient(
      circle at 14% 15%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 1%,
      transparent 1%,
      transparent 100%
    ),
    radial-gradient(
      circle at 60% 90%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 20%,
      transparent 20%,
      transparent 100%
    ),
    radial-gradient(
      circle at 79% 7%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 78%,
      transparent 78%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 65%,
      hsla(190, 0%, 93%, 0.05) 0%,
      hsla(190, 0%, 93%, 0.05) 52%,
      transparent 52%,
      transparent 100%
    ),
    linear-gradient(135deg, rgb(37, 56, 222), rgb(96, 189, 244));
}

.btn {
  background-color: rgb(45, 55, 114);

  color: #1d1d1d;
  cursor: pointer;

  padding: 5px;
  border: 0;
  transition: all 0.5s;
  float: left;
  width: auto;
  font-size: 20px;
  color: white;

  min-width: 100px;
  border-radius: 50px;
}
.login {
  box-shadow: 10px 5px 5px #060606;
  width: 500px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "system-ui";
  transform: translate(-50%, -50%);
  background-color: rgb(45, 55, 114);
  font-weight: 700;

  color: white;
}
.login h1 {
  text-align: center;
  color: white;
}

.login input[type="email"],
.login input[type="text"],
.login input[type="Password"] {
  border: 1px solid whiteSMOKE;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.login input[type="Nom"]:focus,
.login input[type="text"]:focus,
.login input[type="Mot de passe"]:focus {
  width: 420px;
}
::placeholder {
  color: white;
  opacity: 1;
}

.bouton {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.bouton :focus {
  border-color: #3498db;
}
@media screen and (max-width: 540px) {
  .login input[type="email"],
  .login input[type="text"],
  .login input[type="Password"] {
    max-width: 200px;
    display: block;
  }
  .login {
    max-width: 380px;
  }
}

@media screen and (max-width: 390px) {
  .login input[type="email"],
  .login input[type="text"],
  .login input[type="Password"] {
    max-width: 200px;
    display: block;
  }
  .login {
    max-width: 280px;
  }
}
.img {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  display: block;
  border-radius: 30%;
  filter: drop-shadow(30px 10px 4px rgb(33, 42, 51));
}
.btn {
  float: right;
}
